[user]
	email = cheng.huipeng@outlook.com
	name = huipengcheng
[init]
	defaultBranch = main
[color]
	ui = auto
[diff]
	algorithm = histogram
	indentHeuristic = true
	renames = true
	mnemonicPrefix = true
	colorMoved = default
	submodule = log
	tool = difftastic
[pager]
	diff = true
	difftool = true


[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
