[user]
	email = cheng.huipeng@outlook.com
	name = huipengcheng
[init]
	defaultBranch = main
[color]
	ui = auto
[diff]
	algorithm = histogram
	indentHeuristic = true
	renames = true
	mnemonicPrefix = true
	colorMoved = default
	submodule = log
[pager]
	diff = true
